<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>学子集</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta name="author" content="Tian Gao">
  <meta property="og:title" content="学子集">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="xueziji.com">
  <meta property="og:image" content="https://www.xueziji.com/favicon.ico">
  <meta property="og:description" content="学子集是属于海外学子的小集市，让你再也不需要在朋友圈卖自己用不到的东西">
  <meta property="og:url" content="https://www.xueziji.com">
  <meta name="description" content="学子集是一个帮助海外学子卖自己不需要的东西的网站。当你有刚做好一锅的美味，买大了一码的鞋子，搬家打算抛弃的沙发，任何东西，都可以在这里找到他们理想的归宿。">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/vuex/2.3.1/vuex.js"></script>
  <script src='/lib/jquery.ui.widget.js' type='text/javascript'></script>
  <script src='/lib/jquery.iframe-transport.js' type='text/javascript'></script>
  <script src='/lib/jquery.fileupload.js' type='text/javascript'></script>
  <script src='/lib/jquery.cloudinary.js' type='text/javascript'></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="./mine.css" rel="stylesheet">
  </head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-default" id="top_nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-collapse" v-if="category != ''">
            {{category}}
          </button>
          <a class="navbar-brand" href="#">学子集</a>
        </div> 
        <div class="collapse navbar-collapse" id="header-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" v-on:click="ChangeContent('home')">市场</a></li>
            <li><a href="#" v-on:click="ChangeContent('myOrder')">我的订单 <span v-if="pendingRequests >= 0" class="badge">{{pendingRequests}}</span></a></li>
            <li><a href="#" v-on:click="ChangeContent('myProfile')">我的资料</a></li>
            <li><a href="#" v-on:click="ChangeContent('shop')">商城</a></li>
            <li><a href="#" v-on:click="ChangeContent('about')">关于</a></li>
          </ul>
          <register inline-template>
            <ul class="nav navbar-nav navbar-right">
              <li v-if="isLogin">
                <button class="navbar-btn btn btn-primary" data-toggle="modal" data-target="#new_post_modal">我要卖东西</button>
              </li>
              <li v-if="isLogin">
              <p class="navbar-text">Welcome! {{username}} <a href="#" @click="Logoff()">登出</a></p>
              </li>
              <li v-else>
                <button class="btn btn-success navbar-btn" href="#signin" data-toggle="modal" data-target="#login_modal">注册 / 登录</button>
              </li>
            <ul>
          </register>
        </div>
      </nav>
    </div>
  </div>
  <div id="main_content">
    <!-- Home Page -->
    <div>
      <div class="row">
        <div class="col-md-2">
          <div class="row collapse navbar-collapse" id="side-collapse">
            <nav class="nav-sidebar">
              <ul id="home_ul" v-show="currPage == 'home'" class="nav nav-pills nav-stacked">

                <li v-for="cat in categories"><a href="#cat" data-toggle="tab" @click="ClickTab(cat)">{{cat}}</a></li>
              </ul>
              <ul id="myorder_ul" v-show="currPage == 'myOrder' && isLogin" class="nav nav-pills nav-stacked">
                <li class="active"><a href="#tab_tome" data-toggle="tab" @click="ClickTab('toMe')">向我求购</a></li>
                <li><a href="#tab_fromme" data-toggle="tab" @click="ClickTab('fromMe')">我的购买</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div id="posts_div" class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              <div v-if="isLoading" class="loader"></div>
            </div>
          </div>
          <div class="row" v-for="post in posts" v-if="currPage == 'home'">
            <div class="col-md-12">
              <v-post :post="post" inline-template>
                <div class="panel" v-bind:class="{'panel-default':!deletePost, 'panel-danger':deletePost}">
                  <div class="panel-heading" v-on:click="ToggleDisplay(post)">
                    <div class="row flex-end-row">
                      <div class="col-md-8 col-xs-12">
                        <h4 v-bind:class="classObject">{{post.title}}</h4>
                      </div>
                      <div class="col-md-3 col-xs-9" v-if="!post['is_deleted'] && !deleteConfirm">
                        <v-usertag :username="post.author"></v-usertag><span>, {{post.timeago}}</span>
                      </div>
                      <div class="col-md-1 col-xs-3" v-if="!post['is_deleted'] && !deleteConfirm">
                        <a><span class="glyphicon glyphicon-wrench" v-if="IsAuthorMe" @click.stop="UseCard"></button></a>
                        <a><span class="glyphicon glyphicon-trash" v-if="IsAuthorMe" @click.stop="deleteConfirm=true"></span></a>
                      </div>
                      <div class="col-md-4" v-if="!post['is_deleted'] && deleteConfirm">
                        <button class="btn btn-danger" @click.stop="deleteConfirm=false;DeletePost()">确认删除</button>
                        <button class="btn" @click.stop="deleteConfirm=false">取消</button>
                      </div>
                      <div class="col-md-4" v-if="post['is_deleted']">
                        已删除
                      </div>
                    </div>
                  </div>
                  <div class="panel-body" v-if="post['is_display']">
                    <div class="row">
                      <div class="col-md-6 col-xs-12">
                        <p class="multiline-content">{{post.content}}</p>
                        <div class="row no-gutter">
                          <div class="col-md-3" v-for="image in post.images">
                            <a v-bind:href="image" target="_blank" class="thumbnail">
                              <img v-bind:src="image"></img>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <v-items ref="v_items" inline-template :items="post.items" :post="post">
                          <div class="item_wrapper_div">
                          <form class="form-horizontal">
                            <div class="item_div form-group" style="vertical-align:center" v-for="item in items">
                              <label class="col-md-4 col-xs-4 item_name control-label">{{item["name"]}}</label>
                              <label class="col-md-4 col-xs-3 item_price control-label">${{item["price"]}}</label>
                              <div class="col-md-3 col-xs-4 input-group" v-bind:class="{'has-error':parseInt(order[item['name']][1]) > parseInt(post['availability'][item['name']])}">
                                <input class="item_number form-control input-sm" type=number v-model="order[item['name']][1]">
                                <span class="input-group-addon" v-if="post['availability'][item['name']]!=undefined">/ {{post["availability"][item["name"]]}}</span>
                                <span class="input-group-addon" v-else>/ ∞</span>
                              </div>
                            </div>
                            <div class="item_total_div form-group">
                              <div class="col-md-offset-9 col-xs-offset-7">
                                <label>总价：{{totalPrice}}</label>
                              </div>
                            </div>
                          </form>
                          </div>
                        </v-items>
                      </div>
                    </div>
                    <div class="form-group pull-right">
                      <div class="col-md-12">
                        <button class="btn btn-success" @click="SubmitOrder()" type="button" v-if="IsLogin && !IsAuthorMe">下单</button>
                        <button class="btn btn-success" data-toggle="modal" data-target="#login_modal" type="button" v-if="!IsLogin">登录后下单</button>
                      </div>
                    </div>
                  </div>
                </div>
              </v-post>
            </div>
          </div>
          <div class="row" v-for="order in orders" v-if="currPage=='myOrder' && isLogin">
            <div class="col-md-12">
              <v-order :order="order" inline-template>
                <div class="panel" v-bind:class="classObject">
                  <div class="panel-heading" @click="ToggleDisplay(order)">
                    <div class="row flex-end-row">
                      <div class="col-md-8 col-xs-12">
                        <h4>{{order.title}}</h4>
                      </div>
                      <div class="col-md-3 col-xs-8">
                        {{order.to_user}}, {{order.timeago}}
                      </div>
                      <div class="col-md-1 col-xs-4">
                        {{statusText}}
                      </div>
                    </div>
                  </div>
                  <div class="panel-body" v-show="order['is_display']">
                    <div class="row">
                      <div class="col-md-6 col-xs-12">
                        <div class="row" v-for='orderContent, orderName in order.order'>
                          <form>
                            <label class="col-md-4 col-xs-6 control-label">{{orderName}}</label>
                            <label class="col-md-4 col-xs-3 control-label">${{orderContent[0]}}</label>
                            <label class="col-md-4 col-xs-3 control-label">x{{orderContent[1]}}</label>
                          </form>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            {{order.note}}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-xs-11 col-md-offset-0 col-xs-offset-1">
                        <address>
                        <div class="row">
                          {{order.from_user}}
                        </div>
                        <div class="row">
                          {{order.from_user_email}}
                        </div>
                        <div class="row">
                          {{order.from_user_cell}}
                        </div>
                        <div class="row">
                          {{order.from_user_address}}
                        </div>
                        </address>
                      </div>
                    </div>
                    <div class="row pull-right" v-if="orderToMe && order.status=='ready'">
                      <div class="col-md-12">
                        <button class="btn btn-danger" @click="info='确定要拒绝订单么？';Action('decline');">拒绝订单</button>
                        <button class="btn btn-primary" @click="info='确定要确认订单么？';Action('confirm');">确认订单</button>
                      </div>
                    </div>
                    <div class="row pull-right" v-if="orderFromMe && order.status=='ready'">
                      <div class="col-md-12">
                        <button class="btn btn-danger" @click="info='确定要取消订单么？';Action('cancel');">取消订单</button>
                      </div>
                    </div>
                    <div class="row pull-right" v-if="orderFromMe && order.status=='confirm'">
                      <div class="col-md-12">
                        <button class="btn btn-danger" @click="info='确定交易失败了么？';Action('unfinish')">交易失败</button>
                        <button class="btn btn-success" @click="info='确定交易完成了么？';Action('finish')">交易完成</button>
                      </div>
                    </div>
                  </div>
                </div>
              </v-order>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-if="currPage == 'myOrder' && !isLogin">
        <div class="col-md-12">
          您需要登录来进行这个操作！
        </div>
      </div>
      <div class="row" v-if="currPage == 'home' || (currPage == 'myOrder' && isLogin)">
        <div class="col">
        <!-- foot page -->
          <div>
            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination" id="foot_page">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true" @click="ChangePageNum(currPageNum-1)">&laquo;</span></a></li>
                <li v-for="i in 5" v-if="firstPageNum+i-1 <= maxPageNum" v-bind:class="{active: (firstPageNum+i-1)==currPageNum}"><a href="#" @click=ChangePageNum(firstPageNum+i-1)>{{firstPageNum + i - 1}}</a></li>
                <li><a href="#" aria-label="Next" @click="ChangePageNum(currPageNum+1)"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div v-if="currPage == 'myProfile'">
      <v-profile inline-template v-if="isLogin">
        <div>
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <v-profile-bulletin :username="username">
              </v-profile-bulletin>
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  修改密码
                </div>
                <div class="panel-body">
                  <form>
                    <div class="control-group">
                      <label>原密码</label>
                      <div class="controls">
                        <input type="password" class="form-control" v-model="old_password">
                      </div>
                    </div>
                    <div class="control-group">
                      <label>新密码</label>
                      <div class="controls">
                        <input type="password" class="form-control" v-model="new_password">
                      </div>
                    </div>
                    <div class="control-group">
                      <label>确认新密码</label>
                      <div class="controls">
                        <input type="password" class="form-control" v-model="new_password_again">
                      </div>
                    </div>
                    <div class="control-group">
                      <label></label>
                      <div class="alert alert-danger" role="alert" v-if="password_err_msg!=''">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{password_err_msg}}
                      </div>
                      <div class="alert alert-success" role="alert" v-if="password_success_msg!=''">
                        {{password_success_msg}}
                      </div>
                      <div class="controls">
                        <button class="btn btn-primary" type="button" @click="ChangePassword()">修改密码</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  修改个人资料
                </div>
                <div class="panel-body">
                  <form>
                    <div class="control-group">
                      <label>Email</label>
                      <div class="controls">
                        <input type="text" class="form-control" v-model="email">
                      </div>
                    </div>
                    <div class="control-group">
                      <label>手机</label>
                      <div class="controls">
                        <input type="number" class="form-control" v-model="cell">
                      </div>
                    </div>
                    <div class="control-group">
                      <label>地址</label>
                      <div class="controls">
                        <input type="text" class="form-control" v-model="address">
                      </div>
                    </div>
                    <div class="control-group">
                      <label></label>
                      <div class="alert alert-danger" role="alert" v-if="info_err_msg!=''">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{info_err_msg}}
                      </div>
                      <div class="alert alert-success" role="alert" v-if="info_success_msg!=''">
                        {{info_success_msg}}
                      </div>
                      <div class="controls">
                        <button class="btn btn-primary" type="button" @click="UpdateInfo">更新个人资料</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-profile>
      <div class="row" v-else>
        <div class="col-md-12">
          您需要登录来进行这个操作！
        </div>
      </div>
    </div>
    <div v-if="currPage == 'shop'">
      <v-shop inline-template v-if="isLogin">
        <div class="row">
          <div class="col-md-3">
            <v-profile-bulletin ref="profile" :username="username">
            </v-profile-bulletin>
            <v-purse ref="purse" v-on:usecard="Update" :target="{}">
            </v-purse>
          </div>
          <div class="col-md-9">
            <div class="panel panel-default" v-for="card in cards">
              <div class="panel-heading">
                {{card[0]}}
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-9 col-xs-12">
                    {{card[2]}}
                  </div>
                  <div class="col-md-2 col-xs-6">
                    {{card[1]}}学分
                  </div>
                  <div class="col-md-1 col-xs-6">
                    <button class="btn btn-success pull-right" @click="PurchaseCard(card[0])">购买</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-shop>
      <div class="row" v-else>
        <div class="col-md-12">
          您需要登录来进行这个操作！
        </div>
      </div>
    </div>
    <div v-if="currPage == 'about'">
      <div class="row">
        <div class="col-md-12">
          这个网站的初衷是服务留学生群体，给大家一个更加方便的工具进行小的买卖。
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        如果对本网站有任何问题，意见或建议，请联系<a href="mailto:gaogaotiantian@hotmail.com">gaogaotiantian@hotmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for confirm actions -->
<div class="modal bs-modal-sm fade" id="action_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-head text-center">
      </div>
      <div class="modal-body">
        {{info}}
      </div>
      <div class="modal-foot">
        <div class="row">
          <div class="col-md-12">
            <div class="row pull-right">
              <div class="col-md-12">
                <button class="btn btn-default" data-dismiss="modal">取消操作</button>
                <button class="btn" v-bind:class="[button_type]" @click="callback(callback_data)">确认操作</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for card use-->
<div class="modal bs-modal-md" id="card_use_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        对《{{target['postTitle']}}》使用卡片！
      </div>
      <div class="row modal-body">
        <div class="col-md-12">
          <div class="alert alert-success" v-if="success" role=alert>卡片使用成功，现在刷新一下页面吧！</div>
          <v-purse :target="target" @usecard="success = true">
          </v-purse>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for error message -->
<div class="modal bs-modal-sm" id="err_msg_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header text-danger bg-danger">
        出错了哟！
      </div>
      <div class="row modal-body">
        <div class="col-md-12">
          {{content}}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">朕知道了</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for user info -->
<div class="modal fade bs-modal-sm" id="userinfo_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <v-profile-bulletin :username="username">
      </v-profile-bulletin>
    </div>
  </div>
</div>

<!-- Modal for register/login -->
<div class="modal fade bs-modal-sm" id="login_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="bs-tabs">
        <ul id="reg_tab" class="nav nav-tabs">
          <li class="active"><a href="#signin" data-toggle="tab">登录</a></li>
          <li><a href="#signup" data-toggle="tab">注册</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <!-- login part -->
          <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal" @submit.prevent="Login">
            <fieldset>

              <div class="control-group">
                <label class="control-label" for="login_username">用户名：</label>
                <div class="controls">
                  <input required="" id="login_username" type="text" class="form-control" v-model="login_username_val">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="login_password">密码：</label>
                <div class="controls">
                  <input required="" id="login_password" type="password" class="form-control" v-model="login_password_val">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" class="checkbox-inline" for="login_remember">
                  <input type="checkbox" id="login_remember" type="password" v-model="login_remember_val">记住我   
                </label>
              </div>

              <div class="control-group">
                <label class="control-label" for="login_button"></label>
                <div class="alert alert-danger" role="alert" v-if="err_login">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{err_login_msg}}
                </div>
                <div class="controls">
                  <button id="login_button" class="btn btn-success" @click="Login()">登录</button>
                </div>
              </div>

            </fieldset>
            </form>
          </div>
          <!-- signup part -->
          <div class="tab-pane fade" id="signup">
            <form class="form-horizontal" @submit.prevent="Register">
            <fieldset>

              <div class="control-group">
                <label class="control-label" for="signup_email">Email：</label>
                <div class="alert alert-danger" role="alert" v-if="!email_valid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  Enter a valid email address!
                </div>
                <div class="controls">
                  <input required="" id="signup_email" type="text" class="form-control" v-model="signup_email_val" @blur="CheckEmailValid()">
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="signup_username">用户名：</label>
                <div class="alert alert-danger" role="alert" v-if="!username_valid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{signup_username_err_msg}}
                </div>
                <div class="controls">
                  <input required="" id="signup_username" type="text" class="form-control" v-model="signup_username_val" @blur="CheckUsernameValid()">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="signup_password">密码：</label>
                <div class="alert alert-danger" role="alert" v-if="!password_valid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  密码至少要8位
                </div>
                <div class="controls">
                  <input required="" id="signup_password" type="password" class="form-control" v-model="signup_password_val" @blur="CheckPasswordValid()">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="signup_password_again">再次输入密码：</label>
                <div class="alert alert-danger" role="alert" v-if="!password_again_valid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  两次密码输入需一致！
                </div>
                <div class="controls">
                  <input required="" id="signup_password_again" type="password" class="form-control" v-model="signup_password_again_val" @blur="CheckPasswordAgainValid()">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="signup_button"></label>
                <div class="alert alert-danger" role="alert" v-if="err_reg">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{err_reg_msg}}
                </div>
                <div class="controls">
                  <button id="login_button" class="btn btn-success">注册</button>
                </div>
              </div>

            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for new posts -->
<div class="modal bs-modal-lg fade" id="new_post_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-head text-center">
      </div>
      <div class="modal-body">
        <div v-if="show_panel == 'normal'">
          <label for="new_post_title"></label>
          <form @submit.prevent="SubmitPost">
            <div class="row">
              <div class="col-md-2 col-xs-4">
                <select required="" class="form-control pull-right" v-model="category">
                  <option v-for="cat in categories">{{cat}}</option>
                </select>
              </div>
              <div class="col-md-10 col-xs-8">
                <input type="text" class="form-control" id="new_post_title" required="" placeholder="起一个吸引人的标题！" v-model="title">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <label for="new_post_content"></label>
                <textarea rows="10" class="form-control" id="new_post_content" required="" placeholder="简单介绍一下你的东西吧！" v-model="content"></textarea>
                <div class="panel">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入图片链接" v-model="pic_link">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button" @click="AddImage(pic_link)">添加图片</button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <div class="progress" style="margin-top:7;margin-bottom:0">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">0% Complete</span>
                          </div>
                        </div>
                        <span class="input-group-btn">
                          <label class="btn btn-default btn-file">
                            上传图片
                            <input name="file" type="file" 
                              class="cloudinary-fileupload" data-cloudinary-field="image_id" 
                              data-form-data="" style="display:none">
                            </input>
                          </label>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutter">
                    <div class="col-md-3" v-for="image in images">
                      <a class="pull-right" @click.stop="RemoveImage(image)">
                        <span class="glyphicon glyphicon-remove"></span>
                      </a>
                      <a v-bind:href="image" target="_blank" class="thumbnail">
                        <img v-bind:src="image"></img>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <label></label>
                <div class="row" v-for="i in max_item_num">
                  <div class="col-md-5 col-xs-5">
                    <input type="text" class="form-control" placeholder="物品" v-model="items[i-1]">
                  </div>
                  <div class="col-md-3 col-xs-3">
                    <input type="number" class="form-control" placeholder="限量" v-model="avai[i-1]">
                  </div>
                  <div class="col-md-3 col-xs-3 input-group" v-bind:class="{'has-error':errors[i-1]}">
                    <span class="glyphicon glyphicon-usd input-group-addon"></span>
                    <input type="number" step=0.01 class="form-control" placeholder="价格" v-model="prices[i-1]">
                  </div>
                </div>
                <div class="row" style="margin-top:5">
                  <div class="col-md-12 col-xs-12 text-left">
                    <label></label>
                    <button type="button" class="btn btn-danger" @click="RemoveLine()"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-primary" v-if="max_item_num < level_item_limit" @click="AddLine()"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label></label>
              <div class="control-group">
                <label class="control-label"></label>
                <div class="alert alert-danger" role="alert" v-if="err_msg != ''">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{err_msg}}
                </div>
                <div class="col-md-1 pull-right controls">
                  <button class="btn btn-success pull-right" v-bind:class="{disabled:isLoading}"><i v-if="isLoading" class="fa fa-spinner fa-spin"></i>确定</button>
                </div>
                <div class="col-md-1 pull-right controls">
                  <button class="btn btn-fail pull-right" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div v-if="show_panel == 'success'">
          <p>发贴成功，3秒后返回主页！</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for confirm trade -->
<div class="modal bs-modal-md fade" id="confirm_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head text-center">
        <h3>{{title}}</h3>
      </div>
      <div class="modal-body">
        <div v-if="show_panel == 'normal'">
          <div class="row">
            <div class="col-md-12">
              <p v-for="(data, item) in order">{{item}}: {{data[0]}}x{{data[1]}}</p>
              <h4 class="pull-right">总价：{{totalPrice}}</h4>
            </div>
          </div>
          <form class="form-horizontal">
          <fieldset>

            <div class="control-group">
              <label class="control-label" for="confirm_email">Email: </label>
              <div class="controls">
                <input required="" id="confirm_email" type="text" class="form-control" v-model="email">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="confirm_cell">手机: </label>
              <div class="controls">
                <input required="" id="confirm_cell" type="text" class="form-control" v-model="cell">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="confirm_address">地址: </label>
              <div class="controls">
                <input required="" id="confirm_address" type="text" class="form-control" v-model="address">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="confirm_note">备注: </label>
              <div class="controls">
                <input id="confirm_note" type="text" class="form-control" v-model="note">
              </div>
            </div>
            
            <br>
            <div class="control-group">
              <label class="control-label"></label>
              <div class="alert alert-danger" role="alert" v-if="confirmFail">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                {{err_msg}}
              </div>
              <div class="col-md-2 pull-right controls">
                  <button class="btn btn-success pull-right" v-bind:class="{disabled:isLoading}" @click.prevent="Submit()"><i v-if="isLoading" class="fa fa-spinner fa-spin"></i>确定</button>
              </div>
              <div class="col-md-2 pull-right controls">
                <button class="btn btn-fail pull-right" data-dismiss="modal">取消</button>
              </div>
            </div>

          </fieldset>
          </form>
        </div>
        <div v-if="show_panel == 'success'">
          订单递交成功！
        </div>
      </div>
    </div>
  </div>
</div>
<!-- vue elements need to be initialize after DOM -->
<script src="./vueel.js"></script>
</body>
</html>
