<html>
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
  <script src="https://cdn.bootcss.com/vuex/2.3.1/vuex.js"></script>
  <link href="./mine.css" rel="stylesheet">
  </head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-default" id="top_nav">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" v-on:click="ChangeContent('home')">首页</a></li>
            <li><a href="#" v-on:click="ChangeContent('myOrder')">我的订单</a></li>
            <li><a href="#" v-on:click="ChangeContent('about')">关于</a></li>
          </ul>
          <register inline-template>
            <ul class="nav navbar-nav navbar-right">
              <li v-if="isLogin">
                <button class="navbar-btn btn btn-primary" data-toggle="modal" data-target="#new_post_modal">我要卖东西</button>
              </li>
              <li v-if="isLogin">
                <p class="navbar-text">Welcome! {{username}} <a href="#" @click="Logoff()">登出</a></p>
              </li>
              <li v-else>
                <button class="btn btn-success navbar-btn" href="#signin" data-toggle="modal" data-target="#login_modal">注册 / 登录</button>
              </li>
            <ul>
          </register>
        </div>
      </nav>
    </div>
  </div>
  <div id="main_content">
    <!-- Home Page -->
    <div>
      <div class="row">
        <div class="col-md-2">
          <nav class="nav-sidebar">
            <ul id="home_ul" v-show="currPage == 'home'" class="nav nav-pills nav-stacked">
              <li class="active"><a href="#tab_waimai" data-toggle="tab" @click="post_category='外卖';GetPosts()">外卖</a></li>
              <li><a href="#tab_jiaju" data-toggle="tab" @click="post_category='家具';GetPosts()">家具</a></li>
              <li><a href="#tab_pinche" data-toggle="tab" @click="post_category='拼车';GetPosts()">拼车</a></li>
              <li><a href="#tab_wode" data-toggle="tab" @click="post_category='我的';GetPosts()">我的</a></li>
            </ul>
            <ul id="myorder_ul" v-show="currPage == 'myOrder' && isLogin" class="nav nav-pills nav-stacked">
              <li class="active"><a href="#tab_tome" data-toggle="tab" @click="order_category='toMe';GetOrders()">向我求购</a></li>
              <li><a href="#tab_fromme" data-toggle="tab" @click="order_category='fromMe';GetOrders()">我的购买</a></li>
            </ul>
          </nav>
        </div>
        <div id="posts_div" class="col-md-10">
          <div class="row" v-for="post in posts" v-if="currPage == 'home'">
            <div class="col-md-12">
              <v-post :post="post" inline-template>
                <div class="panel" v-bind:class="{'panel-default':!deletePost, 'panel-danger':deletePost}">
                  <div class="panel-heading" v-on:click="ToggleDisplay(post)">
                    <div class="row" style="display:flex; align-items:baseline">
                      <div class="col-md-8">
                        <h3>{{post.title}}</h3>
                      </div>
                      <div class="col-md-2" v-if="!post['is_deleted'] && !deleteConfirm">
                        <span>by {{post.author}}, {{post.timeago}}</span>
                      </div>
                      <div class="col-md-2" v-if="!post['is_deleted'] && !deleteConfirm">
                        <button class="btn btn-danger pull-right" v-if="IsAuthorMe" @click.stop="deleteConfirm=true">删除</button>
                      </div>
                      <div class="col-md-4" v-if="!post['is_deleted'] && deleteConfirm">
                        <button class="btn btn-danger" @click.stop="deleteConfirm=false;DeletePost()">确认删除</button>
                        <button class="btn" @click.stop="deleteConfirm=false">取消</button>
                      </div>
                      <div class="col-md-4" v-if="post['is_deleted']">
                        已删除
                      </div>
                    </div>
                  </div>
                  <div class="panel-body" v-if="post['is_display']">
                    <div class="row">
                      <div class="col-md-6">
                        <p class="multiline-content">{{post.content}}</p>
                      </div>
                      <div class="col-md-6">
                        <v-items ref="v_items" inline-template :items="post.items" :post="post">
                          <div class="item_wrapper_div">
                          <form class="form-horizontal">
                            <div class="item_div form-group" style="vertical-align:center" v-for="item in items">
                              <label class="col-md-4 item_name control-label">{{item["name"]}}</label>
                              <label class="col-md-4 item_price control-label">${{item["price"]}}</label>
                              <div class="col-md-3 input-group" v-bind:class="{'has-error':parseInt(order[item['name']][1]) > parseInt(post['availability'][item['name']])}">
                                <input class="item_number form-control input-sm" type=number v-model="order[item['name']][1]">
                                <span class="input-group-addon">/ {{post["availability"][item["name"]]}}</span>
                              </div>
                            </div>
                            <div class="item_total_div form-group">
                              <div class="col-md-offset-9">
                                <label>总价：{{totalPrice}}</label>
                              </div>
                            </div>
                          </form>
                          </div>
                        </v-items>
                      </div>
                    </div>
                    <div class="form-group pull-right">
                      <div class="col-md-12">
                        <button class="btn btn-success" @click="SubmitOrder()" type="button" v-if="IsLogin && !IsAuthorMe">下单</button>
                        <button class="btn btn-success" data-toggle="modal" data-target="#login_modal" type="button" v-if="!IsLogin">登录后下单</button>
                      </div>
                    </div>
                  </div>
                </div>
              </v-post>
            </div>
          </div>
          <div class="row" v-for="order in orders" v-if="currPage=='myOrder' && isLogin">
            <div class="col-md-12">
              <v-order :order="order" inline-template>
                <div class="panel" v-bind:class="classObject">
                  <div class="panel-heading" @click="ToggleDisplay(order)">
                    <div class="row" style="display:flex; align-items:baseline">
                      <div class="col-md-8">
                        <h3>{{order.title}}</3>
                      </div>
                      <div class="col-md-2">
                        by {{order.to_user}}, {{order.timeago}}
                      </div>
                      <div class="col-md-2">
                        {{statusText}}
                      </div>
                    </div>
                  </div>
                  <div class="panel-body" v-show="order['is_display']">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row" v-for='orderContent, orderName in order.order'>
                          <form>
                            <label class="col-md-4 control-label">{{orderName}}</label>
                            <label class="col-md-4 control-label">${{orderContent[0]}}</label>
                            <label class="col-md-4 control-label">x{{orderContent[1]}}</label>
                          </form>
                        </div>
                        <div class="row">
                          {{order.note}}
                        </div>
                      </div>
                      <div class="col-md-6">
                        <address>
                        <div class="row">
                          {{order.from_user}}
                        </div>
                        <div class="row">
                          {{order.from_user_email}}
                        </div>
                        <div class="row">
                          {{order.from_user_cell}}
                        </div>
                        <div class="row">
                          {{order.from_user_address}}
                        </div>
                        </address>
                      </div>
                    </div>
                    <div class="row pull-right" v-if="orderToMe && order.status=='ready'">
                      <div class="col-md-12">
                        <button class="btn btn-danger" @click="Action('decline');info='确定要拒绝订单么？'">拒绝订单</button>
                        <button class="btn btn-primary" @click="Action('confirm');info='确定要确认订单么？'">确认订单</button>
                      </div>
                    </div>
                    <div class="row pull-right" v-if="orderFromMe && order.status=='ready'">
                      <div class="col-md-12">
                        <button class="btn btn-danger" @click="Action('cancel');info='确定要取消订单么？'">取消订单</button>
                      </div>
                    </div>
                    <div class="row pull-right" v-if="orderFromMe && order.status=='confirm'">
                      <div class="col-md-12">
                        <button class="btn btn-danger" @click="Action('unfinish');info='确定交易失败了么？'">交易失败</button>
                        <button class="btn btn-success" @click="Action('finish');info='确定交易完成了么？'">交易完成</button>
                      </div>
                    </div>
                  </div>
                  <action-confirm-modal :callback="callback" :callback_data="callback_data" :id="'orderConfirm'" :button_type="button_type" :info="info">
                  </action-confirm-modal>
                </div>
              </v-order>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-if="currPage == 'myOrder' && !isLogin">
        <div class="col-md-12">
          您需要登录来进行这个操作！
        </div>
      </div>
      <div class="row" v-if="currPage == 'home' || (currPage == 'myOrder' && isLogin)">
        <div class="col">
        <!-- foot page -->
          <div>
            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination" id="foot_page">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true" @click="ChangePageNum(currPageNum-1)">&laquo;</span></a></li>
                <li v-for="i in 5" v-bind:class="{active: (firstPageNum+i-1)==currPageNum}"><a href="#" @click=ChangePageNum(firstPageNum+i-1)>{{firstPageNum + i - 1}}</a></li>
                <li><a href="#" aria-label="Next" @click="ChangePageNum(currPageNum+1)"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div v-if="currPage == 'about'">
      <div class="row">
        <div class="col-md-12">
          这个网站的初衷是服务留学生群体，给大家一个更加方便的工具进行小的买卖。
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        如果对本网站有任何问题，意见或建议，请联系<a href="mailto:gaogaotiantian@hotmail.com">gaogaotiantian@hotmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for register/login -->
<div class="modal fade bs-modal-sm" id="login_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="bs-tabs">
        <ul id="reg_tab" class="nav nav-tabs">
          <li class="active"><a href="#signin" data-toggle="tab">登录</a></li>
          <li><a href="#signup" data-toggle="tab">注册</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <!-- login part -->
          <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal" @submit.prevent="Login">
            <fieldset>

              <div class="control-group">
                <label class="control-label" for="login_username">用户名：</label>
                <div class="controls">
                  <input required="" id="login_username" type="text" class="form-control" v-model="login_username_val">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="login_password">密码：</label>
                <div class="controls">
                  <input required="" id="login_password" type="password" class="form-control" v-model="login_password_val">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="login_button"></label>
                <div class="alert alert-danger" role="alert" v-if="err_login">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{err_login_msg}}
                </div>
                <div class="controls">
                  <button id="login_button" class="btn btn-success" @click="Login()">登录</button>
                </div>
              </div>

            </fieldset>
            </form>
          </div>
          <!-- signup part -->
          <div class="tab-pane fade" id="signup">
            <form class="form-horizontal" @submit.prevent="Register">
            <fieldset>

              <div class="control-group">
                <label class="control-label" for="signup_email">Email：</label>
                <div class="alert alert-danger" role="alert" v-if="!email_valid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  Enter a valid email address!
                </div>
                <div class="controls">
                  <input required="" id="signup_email" type="text" class="form-control" v-model="signup_email_val" @blur="CheckEmailValid()">
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="signup_username">用户名：</label>
                <div class="alert alert-danger" role="alert" v-if="!username_valid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{signup_username_err_msg}}
                </div>
                <div class="controls">
                  <input required="" id="signup_username" type="text" class="form-control" v-model="signup_username_val" @blur="CheckUsernameValid()">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="signup_password">密码：</label>
                <div class="alert alert-danger" role="alert" v-if="!password_valid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  密码至少要8位
                </div>
                <div class="controls">
                  <input required="" id="signup_password" type="password" class="form-control" v-model="signup_password_val" @blur="CheckPasswordValid()">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="signup_password_again">再次输入密码：</label>
                <div class="alert alert-danger" role="alert" v-if="!password_again_valid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  两次密码输入需一致！
                </div>
                <div class="controls">
                  <input required="" id="signup_password_again" type="password" class="form-control" v-model="signup_password_again_val" @blur="CheckPasswordAgainValid()">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="signup_button"></label>
                <div class="alert alert-danger" role="alert" v-if="err_reg">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{err_reg_msg}}
                </div>
                <div class="controls">
                  <button id="login_button" class="btn btn-success">注册</button>
                </div>
              </div>

            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for new posts -->
<div class="modal bs-modal-lg fade" id="new_post_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-head text-center">
      </div>
      <div class="modal-body">
        <div v-if="show_panel == 'normal'">
          <label for="new_post_title"></label>
          <form @submit.prevent="SubmitPost">
            <div class="row">
              <div class="col-md-2">
                <select required="" class="form-control pull-right" v-model="category">
                  <option>外卖</option>
                  <option>家具</option>
                  <option>拼车</option>
                </select>
              </div>
              <div class="col-md-10">
                <input type="text" class="form-control" id="new_post_title" required="" placeholder="起一个吸引人的标题！" v-model="title">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="new_post_content"></label>
                <textarea rows="10" class="form-control" id="new_post_content" required="" placeholder="简单介绍一下你的东西吧！" v-model="content"></textarea>
              </div>
              <div class="col-md-6">
                <label></label>
                <div class="row" v-for="i in max_item_num">
                  <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="物品" v-model="items[i-1]">
                  </div>
                  <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="限量" v-model="avai[i-1]">
                  </div>
                  <div class="col-md-3 input-group" v-bind:class="{'has-error':errors[i-1]}">
                    <span class="input-group-addon">$</span>
                    <input type="number" step=0.01 class="form-control" placeholder="价格" v-model="prices[i-1]">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <label></label>
                    <button type="button" class="btn btn-default" @click="RemoveLine()"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-default" @click="AddLine()"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label></label>
              <div class="control-group">
                <label class="control-label"></label>
                <div class="alert alert-danger" role="alert" v-if="err_msg != ''">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{err_msg}}
                </div>
                <div class="col-md-1 pull-right controls">
                  <button class="btn btn-lg btn-success pull-right">确定</button>
                </div>
                <div class="col-md-1 pull-right controls">
                  <button class="btn btn-lg btn-fail pull-right" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div v-if="show_panel == 'success'">
          <p>发贴成功，3秒后返回主页！</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for confirm trade -->
<div class="modal bs-modal-md fade" id="confirm_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head text-center">
        <h3>{{title}}</h3>
      </div>
      <div class="modal-body">
        <div v-if="show_panel == 'normal'">
          <div class="row">
            <div class="col-md-12">
              <p v-for="(data, item) in order">{{item}}: {{data[0]}}x{{data[1]}}</p>
              <h4 class="pull-right">总价：{{totalPrice}}</h4>
            </div>
          </div>
          <form class="form-horizontal">
          <fieldset>

            <div class="control-group">
              <label class="control-label" for="confirm_email">Email: </label>
              <div class="controls">
                <input required="" id="confirm_email" type="text" class="form-control" v-model="email">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="confirm_cell">手机: </label>
              <div class="controls">
                <input required="" id="confirm_cell" type="text" class="form-control" v-model="cell">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="confirm_address">地址: </label>
              <div class="controls">
                <input required="" id="confirm_address" type="text" class="form-control" v-model="address">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="confirm_note">备注: </label>
              <div class="controls">
                <input id="confirm_note" type="text" class="form-control" v-model="note">
              </div>
            </div>
            
            <br>
            <div class="control-group">
              <label class="control-label"></label>
              <div class="alert alert-danger" role="alert" v-if="confirmFail">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                {{err_msg}}
              </div>
              <div class="col-md-2 pull-right controls">
                <button class="btn btn-lg btn-success pull-right" @click.prevent="Submit()">确定</button>
              </div>
              <div class="col-md-2 pull-right controls">
                <button class="btn btn-lg btn-fail pull-right" data-dismiss="modal">取消</button>
              </div>
            </div>

          </fieldset>
          </form>
        </div>
        <div v-if="show_panel == 'success'">
          订单递交成功！
        </div>
      </div>
    </div>
  </div>
</div>
<!-- vue elements need to be initialize after DOM -->
<script src="./vueel.js"></script>
</body>
</html>
