input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.multiline-content {
    white-space: pre-wrap;
}


@media (min-width: 768px) {
    .flex-end-row {
        display:flex; 
        align-items:flex-end;
    }
}
